<th:block th:fragment="product-card(orders)">
  <th:block th:each="order: ${orders}">
    <th:block th:each="orderitem: ${order.orderItems}">
      <div class="card card-body">
        <div>
          <span class="float-right" th:text="${orderitem.orderStatus}"
            >Dang giao</span
          >
        </div>
        <hr />
        <div class="row">
          <div class="col-2">
            <img
              class="img-fluid"
              th:src="${orderitem.product.imageUrlShow}"
              alt=""
            />
          </div>
          <div class="col-6">
            <h5 th:text="${orderitem.product.name}">Product Name</h5>
            <p th:text="${'x'+orderitem.quantity}"></p>
          </div>
          <div class="col-4">
            <form class="text-right float-right w-100">
              <p th:text="${'$'+orderitem.price}">$140.00</p>

              <br />
              <div class="btn-group">
                <!-- <a href="product_details.html" class="btn btn-secondary"
                                        ><span class="icon-shopping-cart"></span> Add to cart</a
                                      > -->
                <!-- <form th:action="@{/cart}" th:object="${cartForm}" method="POST">
                                        <input type="hidden" name="productId" th:value="${orderitem.product.id}" />
                                        <input
                                          type="hidden"
                                          th:field="*{quantity}"
                                          th:value="*{quantity}"
                                        />
                                        <button class="btn btn-secondary">Add to cart</button>
                                      </form> -->
                <a
                  th:href="@{${'/products/'+orderitem.product.uuid}}"
                  class="btn btn-warning"
                  >VIEW</a
                >
                <th:block th:switch="${orderitem.orderStatus.name()}">
                  <th:block th:case="${'SHIPPED'}">
                    <button
                      type="button"
                      th:attr="data-order_id=${orderitem.id}"
                      class="btn btn-warning button-receive"
                    >
                      Received
                    </button>
                  </th:block>
                  <th:block th:case="${'UNPROCESSED'}">
                    <button
                      type="button"
                      th:attr="data-order_id=${orderitem.id}"
                      class="btn btn-warning button-cancel"
                    >
                      Cancel
                    </button>
                  </th:block>
                  <th:block th:case="${'READY_TO_SHIP'}">
                    <button
                      type="button"
                      th:attr="data-order_id=${orderitem.id}"
                      class="btn btn-warning button-cancel"
                    >
                      Cancel
                    </button>
                  </th:block>
                </th:block>
              </div>
            </form>
          </div>
        </div>
        <hr />
        <div class="text-right">
          <p>
            Order Total: $<span
              th:text="${orderitem.quantity*orderitem.price}"
            ></span>
          </p>
        </div>
      </div>
    </th:block>
  </th:block>
</th:block>
