<div th:fragment="header" class="container">
  <header id="header">
    <div class="row">
      <div class="col-4">
        <a href="index.html"
          ><span class="d-none">Twitter Bootstrap ecommerce template</span>
          <img
            th:src="@{/images/logo-bootstrap-shoping-cart.png}"
            alt="bootstrap sexy shop"
          />
        </a>
      </div>
      <div class="col-4">
        <div class="offerNoteWrapper">
          <div class="dotmark">
            <i class="icon-cut"></i>
            Twitter Bootstrap shopping cart HTML template is available @ $14
          </div>
        </div>
      </div>
      <div class="col-4 text-right">
        <p>
          <br />
          <strong> Support (24/7) : 0800 1234 678 </strong><br />
        </p>
        <span class="btn btn-secondary btn-sm"
          >[ 2 ] <span class="icon-shopping-cart"></span
        ></span>
        <span class="btn btn-warning btn-sm">$</span>
        <span class="btn btn-secondary btn-sm">&pound;</span>
        <span class="btn btn-secondary btn-sm">&euro;</span>
      </div>
    </div>
  </header>
</div>
