<div th:fragment="left" class="col-3">
  <div class="card card-body">
    <div class="d-flex flex-column flex-shrink-0 p-3">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
      >
        <i class="fa fa-home"></i>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto" id="side-menu">
        <li>
          <a th:href="@{/account}" class="nav-link">
            <i class="fa fa-home"></i>
            <span class="mx-2">My Account</span>
          </a>
        </li>
        <li>
          <a
            th:href="@{/account}"
            class="nav-link"
            th:classappend="${path=='profile' ? 'active':''}"
          >
            <i class="fa fa-home invisible"></i>
            <span class="mx-2">Profile</span>
          </a>
        </li>
        <li>
          <a
            th:href="@{/account/address}"
            class="nav-link"
            th:classappend="${path=='address' ? 'active':''}"
          >
            <i class="fa fa-home invisible"></i>
            <span class="mx-2">Address</span>
          </a>
        </li>
        <li>
          <a
            th:href="@{/account/password}"
            class="nav-link"
            th:classappend="${path=='password' ? 'active':''}"
          >
            <i class="fa fa-home invisible"></i>
            <span class="mx-2">Password</span>
          </a>
        </li>

        <li>
          <a
            th:href="@{/account/order}"
            class="nav-link"
            th:classappend="${path=='order' ? 'active':''}"
          >
            <i class="fa fa-home"></i>
            <span class="mx-2">Order</span>
          </a>
        </li>
      </ul>
      <hr />
    </div>
  </div>
</div>
