<div th:fragment="left(path)" class="col-3">
  <div class="card card-body bg-light">
    <th:block th:if="${#strings.equals(path,'home')}"
      ><th:block th:replace="layout/left-nav::nav"></th:block
    ></th:block>
    <th:block th:if="${#strings.equals(path,'type')}"
      ><th:block th:replace="layout/left-type::nav"></th:block
    ></th:block>
  </div>
  <div class="card card-body alert alert-warning my-4 text-center">
    <h2>50% Discount</h2>
    <p>
      only valid for online order. <br /><br /><a
        class="btn btn-secondary"
        href="#"
        ><strong>Click here</strong>
      </a>
    </p>
  </div>
  <a class="btn btn-warning btn-block" href="#"
    >Upcoming products <br /><small>Click to view</small></a
  >

  <ul class="nav">
    <th:block th:each="product: ${listBanner}">
      <li class="my-2">
        <th:block th:replace="layout/product-card-left(${product})"></th:block>
      </li>
    </th:block>
  </ul>
</div>
