<th:block th:fragment="nav"
  ><div class="" id="nav-show-type">
    <div>Filter by:</div>
    <div
      class="panel-group"
      id="accordion2"
      role="tablist"
      aria-multiselectable="true"
    >
      <div class="panel panel-default">
        <a
          role="button"
          class="item-question"
          data-toggle="collapse"
          data-parent="#accordion2"
          href="#collapse1a"
          aria-expanded="true"
          aria-controls="collapse1a"
        >
          <span></span> Price
        </a>
        <div id="collapse1a" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="price" id="exampleRadios1" value="1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  $100 -$200
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="price" id="exampleRadios2" value="2">
                <label class="form-check-label" for="exampleRadios2">
                    $200 -$400
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="price" id="exampleRadios3" value="3" >
                <label class="form-check-label" for="exampleRadios3">
                    $400+
                </label>
              </div>

              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Min">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Max">
                </div>
              </div>
              <div class="row">
                <div class="col-12"><button class="form-control btn btn-primary button-apply-filter" th:attr="data-filter='price'" >Apply</button></div>
                
                  
              
                
              </div>
              
  

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a
          class="item-question collapsed"
          role="button"
          data-toggle="collapse"
          data-parent="#accordion2"
          href="#collapse2a"
          aria-expanded="false"
          aria-controls="collapse2a"
        >
          <span></span> Brand
        </a>
        <div id="collapse2a" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <div th:each="brand : ${brands}">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brand" id="exampleRadios1" th:value="${brand.id}">
                <label class="form-check-label" for="exampleRadios1" th:text="${brand.name}">
                  Tissot
                </label>
              </div>
            </div>
            
            
            
            <div class="row">
              <div class="col-12"><button class="form-control btn btn-primary button-apply-filter" th:attr="data-filter='brand'" >Apply</button></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></th:block
>
