<th:block th:fragment="nav">
  <nav class="navbar p-0 m-0">
    <ul class="nav navbar-nav d-block w-100">
      <li>
        <a th:href="@{/products/type/W}"><span></span>Watches</a>
      </li>

      <li>
        <a th:href="@{/products/type/S}"><span></span>Sunglassses</a>
      </li>

      <li>
        <a th:href="@{/products/type/L}"><span></span>Laptop</a>
      </li>
      <!-- <li>
            <a href="products.html"
              ><span class="icon-chevron-right"></span>Fine Jewelry</a
            >
          </li>
          <li>
            <a href="products.html"
              ><span class="icon-chevron-right"></span>Engagement & Wedding</a
            >
          </li>
          <li>
            <a href="products.html"
              ><span class="icon-chevron-right"></span>Men's Jewelry</a
            >
          </li>
          <li>
            <a href="products.html"
              ><span class="icon-chevron-right"></span>Vintage & Antique</a
            >
          </li>
          <li>
            <a href="products.html"
              ><span class="icon-chevron-right"></span>Loose Diamonds
            </a>
          </li>
          <li>
            <a href="products.html"
              ><span class="icon-chevron-right"></span>Loose Beads</a
            >
          </li> -->
      <li>
        <a href="products.html"
          ><span class="icon-chevron-right"></span>See All Product</a
        >
      </li>
      <li class="mt-4" sec:authorize="hasAuthority('USER')">
        <a th:href="@{/cart}"
          ><strong
            >Total Amount
            <span
              class="badge badge-warning float-right"
              style="line-height: 18px"
              th:text="${'$'+sumCost}"
              >$448.42</span
            ></strong
          ></a
        >
      </li>
    </ul>
  </nav>
</th:block>
