<div th:fragment="navigation" class="container my-4">
  <div class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <ul class="navbar-nav">
        <li class="active nav-item">
          <a class="nav-link" th:href="@{/}">Home </a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/products/type/W}">Watches</a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/products/type/S}">Sunglassses</a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/products/type/L}">Laptop</a>
        </li>
        <!-- <li class="active nav-item">
          <a class="nav-link" th:href="@{/}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/list-view}">List View</a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/}">Grid View</a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/}">Three Column</a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/}">Four Column</a>
        </li>
        <li class="">
          <a class="nav-link" th:href="@{/}">General Content</a>
        </li> -->
      </ul>
      <form action="#" class="navbar-search float-right">
        <input type="text" placeholder="Search" class="form-control" />
      </form>
      <div class="dropdown float-right">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Login
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
</div>
