<th:block th:fragment="watch(thisProduct)">
  <tbody>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Brand:</td>
      <td class="techSpecTD2" th:text="${thisProduct.brand.name}">Brand</td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Series:</td>
      <td class="techSpecTD2" th:text="${thisProduct.productProperty.series}">
        Black
      </td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Gender:</td>
      <td class="techSpecTD2" th:text="${thisProduct.productProperty.gender}">
        Apparel,Sports
      </td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Watch Label:</td>
      <td
        class="techSpecTD2"
        th:text="${thisProduct.productProperty.watchLabel}"
      >
        spring/summer
      </td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Movement:</td>
      <td class="techSpecTD2" th:text="${thisProduct.productProperty.movement}">
        fitness
      </td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Engine:</td>
      <td class="techSpecTD2" th:text="${thisProduct.productProperty.engine}">
        122855031
      </td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Brand:</td>
      <td class="techSpecTD2">Shock Absorber</td>
    </tr>
  </tbody>
</th:block>
