<th:block th:fragment="sunglasses-property(productForm, modeEdit,thisProduct)">
  <form
    th:action="${modeEdit? '/admin/product/edit' : '/admin/product/add'}"
    method="POST"
    th:object="${productForm}"
    enctype="multipart/form-data"
  >
    <div class="card card-body">
      <h3>Product Details</h3>
      <div class="form-group row">
        <div class="col-3">
          <label class="float-right">Type <sup>*</sup></label>
        </div>

        <th:block th:with="typeTemp=${'S'}"
          ><div class="col-4">
            <input
              type="text"
              class="form-control"
              value="Sunglasses"
              disabled
            />
            <input
              type="hidden"
              class="form-control"
              th:field="*{imageUrl}"
              th:value="*{imageUrl}"
            />
            <input
              type="hidden"
              class="form-control"
              name="productType"
              id="productType"
              th:value="${typeTemp}"
            />
            <input
              type="hidden"
              class="form-control"
              name="type"
              id="type"
              th:value="${typeTemp}"
            />
            <input
              type="hidden"
              class="form-control"
              th:field="*{uuid}"
              th:value="*{uuid}"
            />
            <input
              type="hidden"
              class="form-control"
              th:field="*{productPropertyId}"
              th:value="*{productPropertyId}"
            /></div
        ></th:block>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Product Name <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input
                class="form-control"
                type="text"
                th:field="*{name}"
                placeholder="First Name"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Description <sup>*</sup></label>
            </div>

            <div class="col-8">
              <textarea
                class="form-control"
                rows="5"
                th:field="*{description}"
                placeholder="Description"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Price<sup>*</sup></label>
            </div>
            <div class="col-8">
              <input
                class="form-control"
                type="number"
                th:field="*{price}"
                th:value="*{price}"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Item in Stock<sup>*</sup></label>
            </div>

            <div class="col-8">
              <input
                class="form-control"
                type="number"
                th:field="*{itemInStock}"
                th:value="*{itemInStock}"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Model<sup>*</sup></label>
            </div>

            <div class="col-8">
              <input
                class="form-control"
                type="text"
                th:field="*{model}"
                th:value="*{model}"
              />
            </div>
          </div>
        </div>

        <!-- ---------------------------- -->

        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Series<sup>*</sup></label>
            </div>

            <div class="col-8">
              <input
                class="form-control"
                type="text"
                th:field="*{series}"
                th:value="*{series}"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Gender<sup>*</sup></label>
            </div>

            <div class="col-8">
              <select
                class="form-control"
                th:field="*{gender}"
                th:value="*{gender}"
              >
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Lens <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input
                class="form-control"
                type="text"
                th:field="*{lens}"
                th:value="*{lens}"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">UV Protection<sup>*</sup></label>
            </div>

            <div class="col-8">
              <input
                class="form-control"
                type="text"
                th:field="*{UVProtection}"
                th:value="*{UVProtection}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------- -->
    <div class="card card-body">
      <h3>Feature</h3>

      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Len width <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input class="form-control" type="number" name="lenWidth" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Len Bridge <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input class="form-control" type="number" name="lenBridge" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Arm Length <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input class="form-control" type="text" name="armLength" />
            </div>
          </div>
        </div>

        <!-- ---------------------------- -->

        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Rim Style <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input class="form-control" type="number" name="rimStyle" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Frame Shape <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input class="form-control" type="number" name="frameShape" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="float-right">Frame Material <sup>*</sup></label>
            </div>

            <div class="col-8">
              <input class="form-control" type="number" name="frameMaterial" />
            </div>
          </div>
        </div>
        <!-- ----------------- -->
      </div>
    </div>
    <!-- ------------------------ -->

    <div class="card card-body">
      <h3>Image</h3>

      <div class="row">
        <div class="form-group row">
          <div class="col-4">
            <label class="float-right">Image <sup>*</sup></label>
          </div>

          <div class="col-8">
            <input
              class="form-control"
              type="file"
              id="fileUpload"
              name="files"
              multiple
            />
          </div>
        </div>
        <!-- ----------------- -->
      </div>
      <div class="row border my-2" id="imageHolder">
        <div><h4>Image will upload</h4></div>
        <!-- ----------------- -->
      </div>
      <th:block th:if="${modeEdit}">
        <div class="row border" id="imageIsUploaded">
          <div class="col-12">
            <div class="row"><h4>Image on cloud</h4></div>
            <div class="row">
              <th:block th:each="img, stat: *{imageOnClouds}">
                <div class="col-2 thumbnail">
                  <input
                    type="hidden"
                    th:field="*{imageOnClouds[__${stat.index}__].id}"
                  />
                  <input
                    type="hidden"
                    th:field="*{imageOnClouds[__${stat.index}__].imageUrl}"
                  />
                  <i
                    class="close-tool fa-solid fa-trash"
                    th:attr="data-image_id=${img.id}"
                  ></i>
                  <img
                    th:src="@{${img.imageUrl}}"
                    style="width: 100%; min-height: 100%"
                  />
                </div>
              </th:block>
            </div>
          </div>
        </div>
      </th:block>
    </div>
    <!-- --------------------------- -->

    <div class="control-group">
      <div class="controls">
        <button
          type="submit"
          th:text="${modeEdit? 'Update Product' : 'Add Product'}"
          class="btn btn-primary"
        ></button>
      </div>
    </div>
  </form>
</th:block>
