<th:block th:fragment="modal(reviewForm)"
  ><div class="modal fade" id="input-review" tabindex="-1">
    <form
      th:action="@{/products/review/add}"
      th:object="${reviewForm}"
      method="POST"
    >
      <input type="hidden" th:field="*{productId}" th:value="*{productId}" />
      <input type="hidden" th:field="*{star}" th:value="*{star}" />
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Viet danh gia</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="startModal">
            <h4 class="text-warning text-center">
              4
              <i
                class="fa-solid fa-star text-warning star-modal"
                data-star="1"
              ></i
              ><i
                class="fa-solid fa-star text-warning star-modal"
                data-star="2"
              ></i
              ><i
                class="fa-solid fa-star text-warning star-modal"
                data-star="3"
              ></i
              ><i
                class="fa-solid fa-star text-warning star-modal"
                data-star="4"
              ></i
              ><i
                class="fa-regular fa-star text-warning star-modal"
                data-star="5"
              ></i>
            </h4>
            <textarea
              placeholder="Vui long chia se ve san pham..."
              col="5"
              class="form-control"
              th:field="*{content}"
              th:value="*{content}"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </form>
  </div></th:block
>
