html {
  font-size: 82.5%; /* 1rem = 10px */
}
body {
  background: url(/images/white_leather.png) repeat 0 0;
}
.thumbnail {
  position: relative;
}
.zoom-tool {
  position: absolute;
  visibility: hidden;
  width: 120px;
  height: 34px;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #f89406;
  text-decoration: none;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
}

.thumbnail:hover .zoom-tool {
  visibility: visible;
}

.close-tool {
  position: absolute;
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;

  text-align: center;
  color: black;
  border-radius: 2px;
  text-decoration: none;
  transform: translate(50%, -50%);
  top: 5%;
  right: 20%;
}

.thumbnail:hover .close-tool {
  visibility: visible;
}

.text-card-new {
  line-height: 1.5em;
  height: 3em; /* height is 2x line-height, so two lines will display */
  overflow: hidden;
}

.banner {
  left: 0;
  bottom: 0;
  text-align: left;
  margin-left: 10px;
}

.banner h4 {
  display: inline;
  text-transform: uppercase;
  width: auto;
  padding: 2px 10px;
  opacity: 0.8;
}
.banner p {
  background-color: #fff;
  color: #000;
  padding: 2px 10px;
  line-height: 30px;
  font-size: 20px;
  float: left;
  width: auto;
  opacity: 0.8;
}

.action-product a {
  font-size: 11px;
}

.caption {
  background: #f3f2f2 !important;
  border: none !important;
  color: #555555;
}
.soften {
  margin: 8px 0;
  background: #ddd;
}
