<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head::head"> </head>
  <body>
    <nav th:replace="layout/nav-top::nav-top"></nav>

    <div th:replace="layout/header::header"></div>

    <div th:replace="layout/navigation::navigation"></div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <th:block th:switch="${#lists.size(user.carts)} == 0">
          <th:block th:case="${true}">
            <div class="col-6">
              <div class="card card-body text-center">
                <p>Không có sản phẩm nào trong giỏ hàng</p>
                <a class="btn btn-outline-primary" th:href="@{/}">Back</a>
              </div>
            </div>
          </th:block>
          <th:block th:case="${false}">
            <div class="col-12">
              <ul class="breadcrumb">
                <li>
                  <a th:href="@{/}">Home</a> <span class="divider">/</span>
                </li>
                <li class="active">Cart</li>
              </ul>
              <div class="card card-body">
                <h1>
                  Check Out
                  <small class="float-right" th:inline="text">
                    [[${#lists.size(user.carts)}]] Items are in the cart
                  </small>
                </h1>
                <hr />
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Description</th>
                      <th>Ref.</th>
                      <th>Avail.</th>
                      <th>Unit price</th>
                      <th>Qty</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    <tr th:each="cart : ${user.carts}">
                      <td>
                        <img
                          width="100"
                          th:src="${cart.product.imageUrlShow}"
                          alt=""
                        />
                      </td>
                      <td th:text="${cart.product.name}">
                        Items name here<br />Carate : 22<br />Model : n/a
                      </td>
                      <td>-</td>
                      <td>
                        <span class="btn btn-primary"
                          >x<span class="icon-ok"></span
                        ></span>
                      </td>
                      <td
                        class="price-cart"
                        th:text="${'$'+cart.product.price}"
                        th:attr="data-cartId=${cart.id}"
                      >
                        $50.00
                      </td>
                      <td>
                        <div class="input-group">
                          <input
                            class="col-2 form-control quantity-cart"
                            style="max-width: 34px"
                            type="text"
                            th:attr="data-cartId=${cart.id}"
                            th:value="${cart.quantity}"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary btn-sm minus-button"
                              th:attr="data-cartId=${cart.id}"
                              type="button"
                            >
                              -</button
                            ><button
                              class="btn btn-outline-secondary btn-sm plus-button"
                              th:attr="data-cartId=${cart.id}"
                              type="button"
                            >
                              +</button
                            ><button
                              class="btn btn-sm btn-danger delete-button"
                              type="button"
                              th:attr="data-cartId=${cart.id}"
                            >
                              x
                              <span class="icon-remove"></span>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td
                        class="total-cart-item"
                        th:text="${'$'+cart.product.price * cart.quantity}"
                        th:attr="data-cartId=${cart.id}"
                      >
                        $100.00
                      </td>
                    </tr>

                    <tr>
                      <td colspan="6" class="alignR">Price Total:</td>
                      <td
                        th:text="${'$'+#numbers.formatDecimal(sumCost,1, 'DEFAULT', 2, 'DEFAULT')}"
                        id="total-cart"
                      >
                        $448.42
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br />

                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>
                        <form class="form-inline">
                          <label style="min-width: 159px">
                            VOUCHERS Code:
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="CODE"
                          />
                          <button type="submit" class="btn btn-primary">
                            ADD
                          </button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- ------------------------------ -->

                <!-- ------------------------------ -->

                <div class="row">
                  <div class="col-12">
                    <a href="products.html" class="btn btn-primary"
                      ><span class="icon-arrow-left"></span> Continue Shopping
                    </a>
                    <a
                      th:href="@{/order/checkout}"
                      class="btn btn-primary float-right"
                      >Checkout <span class="icon-arrow-right"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </th:block>
      </div>

      <!-- ---------------------------------- -->
    </div>
    <!-- 
Clients 
-->
    <div th:replace="layout/manufacture::manufacture"></div>

    <!-- ----------------------------------------------------- -->

    <div th:replace="layout/footer::footer"></div>

    <!-- -------------------------------------------- -->
    <!-- Copyright -->
    <div th:replace="layout/copyright::copyright"></div>
    <!-- Copyright -->

    <script th:src="@{/js/cart.js}"></script>
  </body>
</html>
