<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head::head"> </head>
  <body>
    <nav th:replace="layout/nav-top::nav-top"></nav>

    <div th:replace="layout/header::header"></div>

    <div th:replace="layout/navigation::navigation"></div>

    <div class="container">
      <div class="row">
        <div th:replace="layout/left::left(${listNew})"></div>
        <div class="col-9">
          <ul class="breadcrumb">
            <li><a th:href="@{/}">Home</a> <span class="divider">/</span></li>
            <li>
              <a th:href="@{'/products/type/'+${thisProduct.productType}}"
                >Items</a
              >
              <span class="divider">/</span>
            </li>
            <li class="active">Preview</li>
          </ul>

          <div class="card card-body" style="background-color: #f5f5f5">
            <div class="row">
              <th:block
                th:replace="layout/product-carousel::image(${thisProduct.images})"
              ></th:block>

              <div class="col-7">
                <h3 th:text="${thisProduct.name}">
                  Name of the Item [$140.00]
                </h3>
                <hr />

                <form
                  th:action="@{/cart}"
                  th:object="${cartForm}"
                  method="POST"
                >
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      ><span th:text="${'$'+thisProduct.price}"
                        >$140.00</span
                      ></label
                    >
                    <input
                      type="hidden"
                      name="uuid"
                      th:value="${thisProduct.uuid}"
                    />
                    <div class="col-6">
                      <th:block sec:authorize="isAuthenticated()">
                        <input
                          type="number"
                          class="form-control"
                          th:field="*{quantity}"
                          th:value="*{quantity}"
                          placeholder="Qty."
                        />
                      </th:block>
                      <th:block sec:authorize="!isAuthenticated()">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Qty."
                          disabled
                        />
                      </th:block>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label class="col-6 col-form-label"
                      ><span>Color</span></label
                    >
                    <div class="col-6">
                      <select class="form-control">
                        <option>Red</option>
                        <option>Purple</option>
                        <option>Pink</option>
                        <option>Red</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      ><span>Materials</span></label
                    >
                    <div class="col-6">
                      <select class="form-control">
                        <option>Material 1</option>
                        <option>Material 2</option>
                        <option>Material 3</option>
                        <option>Material 4</option>
                      </select>
                    </div>
                  </div> -->

                  <h4 th:text="${thisProduct.itemInStock+' items in stock'}">
                    100 items in stock
                  </h4>
                  <p>
                    Nowadays the lingerie industry is one of the most successful
                    business spheres. Nowadays the lingerie industry is one of
                    ...
                  </p>

                  <p>
                    <th:block sec:authorize="isAuthenticated()">
                      <button type="submit" class="btn btn-warning">
                        <span class="icon-shopping-cart"></span> Add to cart
                      </button>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                      <a th:href="@{/login}" class="btn btn-warning">
                        <span class="icon-shopping-cart"></span> Add to cart
                      </a>
                    </th:block>
                  </p>
                </form>
              </div>
            </div>
            <hr />
            <!-- ----------------------------- -->
            <div class="row p-4">
              <ul class="col-12 nav nav-tabs" id="nav-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#nav-home"
                    >Product Details</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#nav-profile"
                    >Related Products</a
                  >
                </li>
              </ul>
            </div>
            <div class="row p-4">
              <div class="col-12 tab-content">
                <div class="tab-pane fade show active" id="nav-home">
                  <div class="">
                    <h4>Product Information</h4>
                    <table class="table table-striped">
                      <th:block
                        th:if="${#strings.equals(thisProduct.productProperty.type, 'W')}"
                      >
                        <th:block
                          th:replace="layout/product-detail-watch::watch(${thisProduct})"
                        ></th:block>
                      </th:block>
                      <th:block
                        th:if="${#strings.equals(thisProduct.productProperty.type, 'L')}"
                      >
                        <th:block
                          th:replace="layout/product-detail-laptop::laptop(${thisProduct})"
                        ></th:block>
                      </th:block>
                      <th:block
                        th:if="${#strings.equals(thisProduct.productProperty.type, 'S')}"
                      >
                        <th:block
                          th:replace="layout/product-detail-sunglasses::sunglasses(${thisProduct})"
                        ></th:block>
                      </th:block>
                    </table>
                    <hr />
                    <h4>Product Description</h4>
                    <p th:text="${thisProduct.description}">
                      Raw denim you probably haven't heard of them jean shorts
                      Austin.
                    </p>
                  </div>
                </div>

                <!-- ------------ -->
                <div class="tab-pane fade" id="nav-profile">
                  <div class="">
                    <th:block th:each="product : ${listNew}">
                      <th:block
                        th:replace="layout/product-card-list-view::product-card(${product})"
                      ></th:block>
                    </th:block>
                  </div>
                </div>
                <!-- ------------ -->
              </div>
              <!-- ------------------------------ -->
            </div>
            <hr />
            <div>
              <th:block th:switch="${#lists.size(thisProduct.reviews) == 0}">
                <th:block th:case="${true}"
                  ><div class="p-3 border-bottom">
                    <p>
                      <strong
                        >Hãy đánh giá sản phẩm để giúp những khách hàng khác
                        chọn được sản phẩm tốt nhất!
                      </strong>
                    </p>
                    <p>
                      Bạn cảm thấy sản phẩm này như thế nào?

                      <span
                        ><a
                          class="btn btn-primary"
                          data-toggle="modal"
                          data-target="#input-review"
                          >Viet danh gia</a
                        ></span
                      >
                    </p>
                  </div></th:block
                >
                <th:block th:case="${false}">
                  <div class="border-bottom">
                    <h4 th:text="${'Reviews '+ thisProduct.name}">Reviews</h4>
                    <hr />
                    <div class="border-right" style="width: 35%">
                      <h4 class="text-warning">
                        <span th:text="${avgStar}">4</span>
                        <th:block
                          th:each="count: ${#numbers.sequence(1,avgStar)}"
                        >
                          <i class="fa-solid fa-star text-warning"></i>
                        </th:block>
                        <th:block
                          th:each="count: ${#numbers.sequence(avgStar+1,5)}"
                        >
                          <i class="fa-regular fa-star text-warning"></i>
                        </th:block>
                        <span
                          class="small mx-3"
                          style="color: black"
                          th:text="${#lists.size(thisProduct.reviews) + ' danh gia'}"
                        ></span>
                      </h4>
                      <p>
                        5 <i class="fa-solid fa-star text-warning"></i>:
                        <span th:text="${thisProduct.starOne}">0</span> users
                      </p>
                      <p>
                        4 <i class="fa-solid fa-star text-warning"></i>:
                        <span th:text="${thisProduct.starTwo}">0</span> users
                      </p>
                      <p>
                        3 <i class="fa-solid fa-star text-warning"></i>:
                        <span th:text="${thisProduct.starThree}">0</span> users
                      </p>
                      <p>
                        2 <i class="fa-solid fa-star text-warning"></i>:
                        <span th:text="${thisProduct.starFour}">0</span> users
                      </p>
                      <p>
                        1 <i class="fa-solid fa-star text-warning"></i>:
                        <span th:text="${thisProduct.starFive}">0</span> users
                      </p>
                    </div>
                  </div>
                  <div>
                    <th:block th:each="review: ${thisProduct.reviews}">
                      <th:block
                        th:replace="layout/product-detail-review::review(${review})"
                      ></th:block>
                    </th:block>
                  </div>
                  <div class="d-flex">
                    <div class="w-50 p-2">
                      <button
                        class="btn btn-primary w-100"
                        data-toggle="modal"
                        data-target="#input-review"
                      >
                        Viet danh gia
                      </button>
                    </div>
                    <div class="w-50 p-2">
                      <button class="btn btn-primary w-100">
                        Xem danh gia
                      </button>
                    </div>
                  </div>
                </th:block>
              </th:block>
            </div>
          </div>

          <!-- --------------------------------------------- -->

          <!-- ------------------------------------ -->
        </div>

        <th:block sec:authorize="isAuthenticated()">
          <th:block
            th:replace="layout/product-detail-modal-review::modal(${reviewForm})"
          ></th:block>
        </th:block>
      </div>

      <!-- ---------------------------------- -->
    </div>
    <!-- 
Clients 
-->
    <div th:replace="layout/manufacture::manufacture"></div>

    <!-- ----------------------------------------------------- -->

    <div th:replace="layout/footer::footer"></div>

    <!-- -------------------------------------------- -->
    <!-- Copyright -->
    <div th:replace="layout/copyright::copyright"></div>
    <!-- Copyright -->

    <script th:src="@{/js/product-detail.js}"></script>
  </body>
</html>
