<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head::head"> </head>
  <body>
    <nav th:replace="layout/nav-top::nav-top"></nav>

    <div th:replace="layout/header::header"></div>

    <div th:replace="layout/navigation::navigation"></div>

    <div class="container">
      <div class="row">
        <div th:replace="layout/left-side-menu-admin-static::left"></div>

        <div class="col-9">
          <ul class="breadcrumb">
            <li><a th:href="@{/}">Home</a> <span class="divider">/</span></li>
            <li>
              <a th:href="@{/admin}"> Add Product</a>
              <span class="divider">/</span>
            </li>
            <li class="active" th:text="${' '+productType}"></li>
          </ul>
          <th:block th:switch="${productType}">
            <th:block th:case="${'W'}"
              ><th:block
                th:replace="layout/product-add-form-watch::watch-property(${productForm},${modeEdit},${thisProduct})"
              ></th:block
            ></th:block>
            <th:block th:case="${'S'}">
              <th:block
                th:replace="layout/product-add-form-sunglasses::sunglasses-property(${productForm},${ modeEdit},${thisProduct})"
              ></th:block
            ></th:block>
            <th:block th:case="${'L'}">
              <th:block
                th:replace="layout/product-add-form-laptop::laptop-property(${productForm},${ modeEdit},${thisProduct})"
              ></th:block
            ></th:block>
          </th:block>

          <!--  -->
        </div>
      </div>

      <!-- ---------------------------------- -->
    </div>
    <!-- 
Clients 
-->
    <div th:replace="layout/manufacture::manufacture"></div>

    <!-- ----------------------------------------------------- -->

    <div th:replace="layout/footer::footer"></div>

    <!-- -------------------------------------------- -->
    <!-- Copyright -->
    <div th:replace="layout/copyright::copyright"></div>
    <!-- Copyright -->

    <script th:inline="javascript">
      /*<![CDATA[*/

      var imageOnCloud = /*[[${productForm.images}]]*/ null;

      /*]]>*/
    </script>
    <script th:src="@{/js/product-add.js}"></script>
  </body>
</html>
