<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head::head"> </head>
  <body>
    <nav th:replace="layout/nav-top::nav-top"></nav>

    <div th:replace="layout/header::header"></div>

    <div th:replace="layout/navigation::navigation"></div>

    <div class="container">
      <div class="row">
        <div th:replace="layout/left::left(${listNew})"></div>
        <div class="col-9">
          <div class="card card-body">
            <form th:action="@{/register}" th:object="${user}" method="POST">
              <h3>Your Personal Details</h3>

              <div class="form-group row">
                <div class="col-3">
                  <label class="float-right">First name <sup>*</sup></label>
                </div>

                <div class="col-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{firstName}"
                    th:value="*{firstName}"
                    placeholder="First Name"
                  />
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('firstName')}"
                      th:text="${err}"
                      style="color: red"
                    ></li>
                  </ul>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  <label class="float-right">Last name <sup>*</sup></label>
                </div>

                <div class="col-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{lastName}"
                    th:value="*{lastName}"
                    placeholder="Last Name"
                  />
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('lastName')}"
                      th:text="${err}"
                      style="color: red"
                    ></li>
                  </ul>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  <label class="float-right">Email<sup>*</sup></label>
                </div>
                <div class="col-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{email}"
                    th:value="*{email}"
                    placeholder="Email"
                  />

                  <ul>
                    <li
                      th:each="err : ${#fields.errors('email')}"
                      th:text="${err}"
                      style="color: red"
                    ></li>
                  </ul>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  <label class="float-right">Phone<sup>*</sup></label>
                </div>

                <div class="col-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{phone}"
                    th:value="*{phone}"
                    placeholder="Phone"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  <label class="float-right">Password<sup>*</sup></label>
                </div>

                <div class="col-4">
                  <input
                    class="form-control"
                    type="password"
                    th:field="*{password}"
                    th:value="*{password}"
                    placeholder="Password"
                  />
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('password')}"
                      th:text="${err}"
                      style="color: red"
                    ></li>
                  </ul>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  <label class="float-right"
                    >Confirm Password<sup>*</sup></label
                  >
                </div>

                <div class="col-4">
                  <input
                    class="form-control"
                    type="password"
                    th:field="*{confirmPassword}"
                    th:value="*{confirmPassword}"
                    placeholder="Confirm Password"
                  />
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('confirmPassword')}"
                      th:text="${err}"
                      style="color: red"
                    ></li>
                  </ul>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <input
                    type="submit"
                    name="submitAccount"
                    value="Register"
                    class="btn btn-primary"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ---------------------------------- -->
    </div>
    <!-- 
Clients 
-->
    <div th:replace="layout/manufacture::manufacture"></div>

    <!-- ----------------------------------------------------- -->

    <div th:replace="layout/footer::footer"></div>

    <!-- -------------------------------------------- -->
    <!-- Copyright -->
    <div th:replace="layout/copyright::copyright"></div>
    <!-- Copyright -->
  </body>
</html>
