<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head::head"> </head>
  <body>
    <nav th:replace="layout/nav-top::nav-top"></nav>

    <div th:replace="layout/header::header"></div>

    <div th:replace="layout/navigation::navigation"></div>

    <div class="container">
      <div class="row">
        <div th:replace="layout/left::left(${path})"></div>
        <div class="col-9">
          <div
            class="card card-body d-flex flex-row flex-wrap"
            id="content-card"
          >
            <th:block th:each="product : ${listNew}">
              <div class="col-4">
                <th:block
                  th:replace="layout/product-card-new::product-card-new(${product})"
                ></th:block>
              </div>
            </th:block>
          </div>
        </div>
      </div>

      <!-- ---------------------------------- -->
    </div>
    <!-- 
Clients 
-->
    <div th:replace="layout/manufacture::manufacture"></div>

    <!-- ----------------------------------------------------- -->

    <div th:replace="layout/footer::footer"></div>

    <!-- -------------------------------------------- -->
    <!-- Copyright -->
    <div th:replace="layout/copyright::copyright"></div>
    <!-- Copyright -->
    <script th:src="@{/js/show-type.js}"></script>
  </body>
</html>
